{% extends "chat_base.html" %}
{% block content %}

{{ current_user.username }}


<script type="text/javascript">
$(document).ready(function() {
    namespace = '/chat';

	var socket = io(namespace);
	socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });

	socket.on('message', function(msg) {
		$("#messages").append('<li>'+msg.data+'</li>');
		console.log('Received message');
	});

	$('#sendbutton').on('click', function() {
		socket.emit('massage', {data: $('#myMessage').val()});
	});
});


</script>

<ul id="messages"></ul>
<input type="text" id="myMessage">
<button id="sendbutton">Send</button>

{% endblock %}